  .contacts-container {
    padding: 20px;
  }

  .contact-bloc {
    width: 70%;
    margin: 0 auto;
    padding: 20px; 
    background: #242424; 
    color: white; 
    border-radius: 10px;
  }

  .contact-bloc h2 {
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .partner-profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .partner-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .partner-text p {
    margin: 0;
  }
  
  .about-text {
    margin-bottom: 10px;
  }
  
  .profile-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile p {
    margin: 0;
  }
  